<table class="table">
  <thead>
    <tr>
      <th>Titre</th>
      <th>Description</th>
      <th>Auteur</th>
      <th>Actions</th>
    </tr>

  </thead>


<% @articles.each do |article| %>

  

  <% end %>
</table>