<div class="row">
  <div class= "col-xs-offset-3 col-xs-9">
    <h2>  <%= @article.title %></h2>

    <div class= "well col-xs-6">
        <p> <%= @article.description %> </p>

      <div class="article-actions">
        <%= link_to 'Modifier', edit_article_path(@article) %> |
        <%= link_to 'Retour à la liste', articles_path %>
      </div>
    </div>
  </div>
</div>


