<div class="center container">
  <div class= "jumbotron">
    <h1>Hello world!</h1>
    <p>Bienvenue sur Undersun.io ! le blog dédié au développement web</p>

    <%= link_to "Voir les articles", articles_path, class: "btn btn-success btn-lg" %>
  </div>
</div>