<div class="container">
    <footer>
        <small>
            <%= link_to "Compte github", "#" %> Copyright by ATC
        </small>
        <nav>
            <ul>
                <li> <%= link_to "A propos", about_path %> </li>
            </ul>
        </nav>
    </footer>
</div> 